/*IMPROVEMENTS:
- project tiles anchor tag height needs to be adjusted somehow on browser widths < 600px wide! */

body {
	background-color: rgb(249, 249, 249);
	font-family: 'Hind', sans-serif;
	padding: 0;
	margin: 0;
}

body:after {		/* pre-load hover images to avoid first time load delay when hovering over social icons & project tiles */
 display:none;
 content: url(../media/socialGithubHOVERWeb.gif) url(../media/socialTreehouseHOVERWeb.gif) url(../media/socialLinkedinHOVERWeb.gif) url(../media/socialStackoverflowHOVERWeb.gif) url(../media/tileJCRealtyHOVERWeb.gif) url(../media/tileProject1HOVERWeb.gif) url(../media/tileProject2HOVERWeb.gif) url(../media/tileProject3HOVERWeb.gif);
}

.wrap {
	min-height: calc(100vh - 70px);
}

.wrapContact {
	min-height: calc(100vh - 520px);
}

.group:after {
	content: “ “;
	display: table;
	clear: both;
}

h2 {
	text-align: center;
	font-size: 22px;
}



/******************************
        	Heading
******************************/
header {
	height: 55px;
	background-color: #090302;
	overflow: hidden;
}

h1.mainHeader {
	position: relative;
	left: 20px;
    float: left;
    margin:0;
	font-weight: 300;
	font-size: 2.5em;
	color: #fff;
	white-space: pre;	/* preserves white space (extra spaces in text) in the browser */
}

.headerMenu {
	float: right;
}



/******************************
        Navigation
******************************/
.nav {
	position: relative;
	bottom: 6.5px;
	color: white;
	display: inline-block;
	list-style: none;
	margin-right: 10px;
	margin-top: 0;
}

nav ul {
	margin: 0;
}

nav ul li {		/* targets all descendant elements of <nav> */
	display: inline;
	list-style: none;
	font-weight: lighter;
	font-size: 1.3em;
	padding-left: 8px;
}

li.index:hover:after {		/* nav hover and selected states */
	position: absolute; 
	content:''; 
  	width:46px; 
  	height:1px; 
  	background: white; 
  	top: 27px;
  	right: 174px;
}

li.portfolio:hover:after {
	position: absolute; 
	content:''; 
  	width:70px; 
  	height:1px; 
  	background: white; 
  	top: 27px;
  	right: 86px;
}

li.contact:hover:after {
	position: absolute; 
	content:''; 
  	width:60px; 
  	height:1px; 
  	background: white; 
  	top: 27px;
  	right: 5px;
}

li.selectedIndex:visited:after {
	position: absolute; 
	content:''; 
  	width:45px; 
  	height:1px; 
  	background: white; 
  	top: 27px;
  	right: 174px;
}

li.selectedPortfolio:after {
	position: absolute; 
	content:''; 
  	width:70px; 
  	height:1px; 
  	background: white; 
  	top: 27px;
  	right: 86px;
}

li.selectedContact:after {
	position: absolute; 
	content:''; 
  	width:60px; 
  	height:1px; 
  	background: white; 
  	top: 27px;
  	right: 5px;
}

/*nav ul li a:hover:after {
	content:''; 
  	width:60px; 
  	height:4px; 
  	background: white; 
  	position: absolute; 
  	bottom:-4px;
}*/

/*	border-bottom: 1px solid white;
	margin-bottom: -15px;*/
	/*color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/

nav ul li.selected {
	border-bottom: 1px solid white;
	margin-bottom: -10px;
/*	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

a {
	text-decoration: none;
 	color: inherit;
}



/******************************
        Social Media
******************************/
.socialDiv {
	display: inline-block;
	margin-right: 10px;
	margin-top: 3px;
}

.socialGithub {
	height: 48px;
	width: 48px;
	display: inline-block;
  	background:transparent url(../media/socialGithubWeb.gif) center no-repeat;
  	background-size: 48px 48px;
}

.socialGithub:hover {
   background-image: url(../media/socialGithubHOVERWeb.gif);
   background-size: 48px 48px;
}

 .socialTreehouse {
	height: 48px;
	width: 48px;
	display: inline-block;
  	background:transparent url(../media/socialTreehouseWeb.gif) center no-repeat;
  	background-size: 48px 48px;
}

.socialTreehouse:hover {
   background-image: url(../media/socialTreehouseHOVERWeb.gif);
   background-size: 48px 48px;
}

.socialLinkedin {
	height: 48px;
	width: 48px;
	display: inline-block;
  	background:transparent url(../media/socialLinkedinWeb2.gif) center no-repeat;
  	background-size: 48px 48px;
}

.socialLinkedin:hover {
   background-image: url(../media/socialLinkedinHOVERWeb.gif);
   background-size: 48px 48px;
}

.socialStackoverflow {
	height: 48px;
	width: 48px;
	display: inline-block;
  	background:transparent url(../media/socialStackoverflowWeb.gif) center no-repeat;
  	background-size: 48px 48px;
}

.socialStackoverflow:hover {
   background-image: url(../media/socialStackoverflowHOVERWeb.gif);
   background-size: 48px 48px;
}

.contactIcon {
	display: inline;
	margin-right: 30px;
	width: 8vw;
	position: relative;
	top: 13px;
}

.contactContent {
	padding-top: 75px;
	font-size: 4vw;
}



/******************************
       Desktop Portfolio
******************************/
.coverPic {
    background-image: url(../media/Desk4Web.gif);      /* background-image: linear-gradient(140deg,rgba(24,46,74,.8),rgba(70,174,195,.5)),url(../media/Desk2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 55px);
}



/******************************
       	   Page Body
******************************/
.blackBar {
	height: 200px;
	background-color: black;		/*#1C1D21*/
	margin-bottom: 8px;
	text-align: center;
}

.primaryContent {
	text-align: center;
	max-width: 80%;
	margin: 0 auto 0 auto;
}

.portfolioHeader {
	font-size: 6.5em;
	font-weight: 600;
	display: block;
	padding-top: 17px;
	color: rgb(249, 249, 249);
}

.portfolioPageTitle {
	font-size: 6.5em;
	font-weight: 600;
	display: block;
	padding-top: 17px;
	color: black;
}



/*-------Project JC Realty-------*/

.tileJCRealty {
	width: 600px;
	height: 423px;
	display: inline-block;
  	background:transparent url(../media/tileJCRealtyWeb.gif) center no-repeat;
  	background-size: 100% auto;
}

.tileJCRealty:hover {
   background-image: url(../media/tileJCRealtyHOVERWeb.gif);
   background-size: 100% auto;
}

/*-------Project 1-------*/

.tileProject1 {
	width: 600px;
	height: 423px;
	display: inline-block;
  	background:transparent url(../media/tileProject1Web.gif) center no-repeat;
  	background-size: 100% auto;
}

.tileProject1:hover {
   background-image: url(../media/tileProject1HOVERWeb.gif);
   background-size: 100% auto;
}

/*-------Project 2-------*/

.tileProject2 {
	width: 600px;
	height: 423px;
	display: inline-block;
  	background:transparent url(../media/tileProject2Web.gif) center no-repeat;
  	background-size: 100% auto;
}

.tileProject2:hover {
   background-image: url(../media/tileProject2HOVERWeb.gif);
   background-size: 100% auto;
}

.tileWrap {
	width: 25%;
	display: inline;
}

/*-------Project 3-------*/

.tileProject3 {
	width: 600px;
	height: 423px;
	display: inline-block;
  	background:transparent url(../media/tileProject3Web.gif) center no-repeat;
  	background-size: 100% auto;
}

.tileProject3:hover {
   background-image: url(../media/tileProject3HOVERWeb.gif);
   background-size: 100% auto;
}



/******************************
		Project Pages
******************************/
.projectH1 {
	font-size: 6.5em;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 0;
}

.projectH2 {
	margin-top: 0;
	margin-bottom: 100px;
}


.demoButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:5em;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
	margin-bottom: 50px;
}
.demoButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.demoButton:active {
	position:relative;
	top:1px;
}

.programIcon {
	margin-left: 15px;
}

.githubLink {
	color: blue;
	margin-left: 5px;
}

p.noMarginTop span {
	display: block;
}

.textboxHTML {
	height: 135px;
	width: 275px;
}

i:before {		/*apparently, <i> is may not be ideal for icons but I'm using it here because it's natively inline and my p.noMarginTop span selector prevents me from using span*/
	content: "\2705";
	font-style: normal;
	margin-right: 13px;
}

.headshot {
	display: block;
	margin: 0 auto 0;
}



/******************************
Good Class Names Are Like Adjectives!
******************************/
.noMarginTop {
	margin-top: 0;
}

.noMarginBottom {
	margin-bottom: 0;
}

.inline {
	display: inline;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.textLeft {
	text-align: left;
}

.isHidden {
	display: none;
}



/******************************
        	Footer
******************************/
footer {
	background-color: black;
	height: 70px;
	color: #fff;
	font-size: 1.25em;
	font-weight: 300;
	text-align: center;
	margin: 0;
}

.copyright {
	padding-top: 20px;
	margin-top: 0;
}



/******************************
        Media Queries
******************************/
@media screen and (min-width: 1562px) {		/*------optimizes Contact page on large screens------*/
	
	.contactIcon {
		width: 130px;
	}

	.contactContent {
		padding-top: 75px;
		font-size: 60px;
	}
}


@media screen and (max-width: 768px) {			/*------iPad-----*/

	header {
		height: 55px;
	}

	.nav {
		display: none;
	}

	.mobileNav {
		display: block;
		height: 25px;
		width: 100vw;
		background-color: rgba(0, 0, 0, 1);
		text-align: center;
		color: #fff;
		font-size: .8em;
	}

	.mobileNav ul {
		padding: 0;
	}

	.mobileNav li {
		padding-right: 10px;
		position: relative;
		left: 10px;
		bottom: 1px;
	}

	.mobileNav li.indexMobile:hover:after {		/* mobile nav hover and selected states */
		position: absolute; 
		content:''; 
	  	width:45px; 
	  	height:1px; 
	  	background: white; 
	  	top: 22px;
	  	right: 8px;
	}

	.mobileNav li.portfolioMobile:hover:after {
		position: absolute; 
		content:''; 
	  	width:60px; 
	  	height:1px; 
	  	background: white; 
	  	top: 22px;
	  	right: 10px;
	}

	.mobileNav li.contactMobile:hover:after {
		position: absolute; 
		content:''; 
	  	width:55px; 
	  	height:1px; 
	  	background: white; 
	  	top: 22px;
	  	right: 10px;
	}

/*	.selectedIndexMobile:after {
			position: absolute; 
			content:''; 
		  	width:45px; 
		  	height:1px; 
		  	background: white; 
		  	top: 22px;
		  	right: 8px;
	}*/

	.selectedPortfolioMobile:after {
			position: absolute; 
			content:''; 
		  	width:60px; 
		  	height:1px; 
		  	background: white; 
		  	top: 22px;
		  	right: 10px;
	}

	.selectedContactMobile:after {
			position: absolute; 
			content:''; 
		  	width:55px; 
		  	height:1px; 
		  	background: white; 
		  	top: 22px;
		  	right: 10px;
	}



	.primaryContent {
		max-width: 90%;
	}

	.projectH1 {
		font-size: 4em;
		font-weight: 600;
		margin-top: 30px;
		margin-bottom: 0;
	}

	.coverPic {
		display: none;
	}

	.blackBar {
		display: none;
	}

	.coverPicMobile {
		display: inline-block;
	}

	.coverPicMobile img {
		width: 100vw;
		height: auto;
	}

	.blackBarMobile {
		height: 200px;
		background-color: black;		/*#1C1D21*/
/*		margin-bottom: 40px;*/
		text-align: center;
		position: relative;		/* sloppy hack to remove mysterious white line. LOOK INTO WHAT THAT LINE IS CAUSED BY - SO ENDLESSLY MYSTERIOUS */
		bottom: 9px;
	}
	
	.portfolioHeaderMobile {
		display: block;
		font-size: 4em;
		padding-top: 45px;
		font-weight: 600;
		color: rgb(249, 249, 249);
	}

	.tileWrap {
		width: 100%;
		display: inline-block;
	}

}


@media screen and (max-width: 667px) {

	.projectH1 {
		font-size: 3.5em;
		font-weight: 600;
		margin-top: 30px;
		margin-bottom: 0;
	}

	.projectH2 {
		margin-bottom: 70px;
	}

	.demoButton{
		-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
		-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
		box-shadow:inset 0px 1px 0px 0px #cf866c;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
		background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
		background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
		background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
		background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
		background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
		background-color:#d0451b;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #942911;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:3em;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #854629;
		margin-bottom: 50px;
	}

		.primaryContent {		/*------Narrow Browser un-centered tiles fix-----*/
		max-width: 100%;
	}
}


@media screen and (max-width: 599px) {			/*------THIS NEEDS FIXING & UNIT CONSISTENCY - dynamic project tile sizes for when browser becomes less wide than static 600px project tiles------*/
		
	.tileJCRealty {
		width: 100vw;
		display: inline-block;
	  	background:transparent url(../media/tileJCRealtyWeb.gif) center no-repeat;
	  	background-size: contain;
	}

	.tileJCRealty:hover {
	   background-image: url(../media/tileJCRealtyWeb.gif);
	   background-size: 100vw;
	}

	.tileProject1 {
		width: 100vw;
		display: inline-block;
	  	background:transparent url(../media/tileProject1Web.gif) center no-repeat;
	  	background-size: 100vw;
		}

	.tileProject1:hover {
	   background-image: url(../media/tileProject1HOVERWeb.gif);
	   background-size: 100vw;
	}

	.tileProject2 {
		width: 100%;
		display: inline-block;
	  	background:transparent url(../media/tileProject2Web.gif) center no-repeat;
	  	background-size: 100vw;
	}

	.tileProject2:hover {
	   background-image: url(../media/tileProject2HOVERWeb.gif);
	   background-size: 100vw;
	}

	.tileProject3 {
		width: 100%;
		display: inline-block;
	  	background:transparent url(../media/tileProject3Web.gif) center no-repeat;
	  	background-size: 100vw;
	}

	.tileProject3:hover {
	   background-image: url(../media/tileProject3HOVERWeb.gif);
	   background-size: 100vw;
	}
}


@media screen and (max-width: 532px) {			/*------Narrow browser, Iphone 4 (320px), other small viewport widths------*/
	
	h1.mainHeader {
		font-size: 1.75em;
	}

	header {
		height: 40px;
	}

	.socialGithub, .socialTreehouse, .socialLinkedin, .socialStackoverflow {
		width: 35px;
		height: 35px;
		background-size: 35px 35px;
	}

	.socialGithub:hover, .socialTreehouse:hover, .socialLinkedin:hover, .socialStackoverflow:hover {
		background-size: 35px 35px;
}

	nav ul li {
		font-size: 1.25em;
	}

	.headshot {
		width: 300px;
	}

	.wrapContact {
		min-height: calc(100vh - 340px);
	}

}


@media screen and (max-width: 377px) {			/*------Firefox super narrow browser window------*/
	
	h1.mainHeader {
		font-size: 1.40em;
	}

	header {
		height: 35px;
	}

	.mobileNav li.indexMobile:hover:after {		/* mobile nav hover and selected states */
		position: absolute; 
		content:''; 
	  	width:39px; 
	  	height:1px; 
	  	background: white; 
	  	top: 20px;
	  	right: 9px;
	}

	.mobileNav li.portfolioMobile:hover:after {
		position: absolute; 
		content:''; 
	  	width:58px; 
	  	height:1px; 
	  	background: white; 
	  	top: 20px;
	  	right: 8px;
	}

	.mobileNav li.contactMobile:hover:after {
		position: absolute; 
		content:''; 
	  	width:53px; 
	  	height:1px; 
	  	background: white; 
	  	top: 20px;
	  	right: 8px;
	}

	.selectedPortfolioMobile:after {
		position: absolute; 
		content:''; 
	  	width:58px; 
	  	height:1px; 
	  	background: white; 
	  	top: 20px;
	  	right: 8px;
	}

	.selectedContactMobile:after {
		position: absolute; 
		content:''; 
	  	width:53px; 
	  	height:1px; 
	  	background: white; 
	  	top: 20px;
	  	right: 8px;
	}

	.socialGithub, .socialTreehouse, .socialLinkedin, .socialStackoverflow {
		width: 25px;
		height: 25px;
		background-size: 25px 25px;
	}

	.socialGithub:hover, .socialTreehouse:hover, .socialLinkedin:hover, .socialStackoverflow:hover {
		background-size: 25px 25px;
	}

	nav ul li {
		font-size: 1.15em;
		top: 1px;
	}

}


