	<section class="primary-content-white">
		<h1 class="fw-300 portfolio-page-title">Cubicles</h1>
		<h2 class="project-h2">Freelance Web Design Project</h2>
		<!-- <h2 class="projectH2"></h2> -->
		<form action="https://kylevassella.github.io/cubicles-website/" target="_blank">
			<button type="submit" class="demo-button">VIEW PROJECT<br>DEMO</button><br>
		</form>


		<h3>Tools Used:</h3>
			<p class="no-margin-bottom">
				<span class="icon-span">
				<img class="language-icon" src="./assets/media/logos/html5.png" alt="HTML 5 logo" title="HTML 5 logo">
				<img class="language-icon" src="./assets/media/logos/css3.png" alt="CSS 3 logo" title="CSS 3 logo">
				<img class="language-icon" src="./assets/media/logos/jQuery.gif" alt="jQuery logo" title="jQuery logo">
				<img class="language-icon" src="./assets/media/logos/bootstrap.png" alt="Bootstrap logo" title="Bootstrap logo">
				</span>
			</p>
		<h3 class="github-section">Github repository: <a class="github-link" href="https://github.com/KyleVassella/cubicles-website/tree/gh-pages" target="_blank">https://github.com/KyleVassella/cubicles-website/tree/gh-pages</a></h3>
		<h3 class="project-header">Project Description:</h3>
			<p class="project-description margin-bottom-80 text-left">I created this demo landing page in one afternoon (Bootstrap really does save time) to prepare for an interview with a local office furnishings company - they were pleased with the outcome. The most important change I implemented was a re-organizing of their nav menu into a smaller number of Bootstrap dropdowns. This improved UI by making their site much more easy to navigate, while also organizing their content. The site features a jQuery powered 'customer testimonials' carousel, a Bootstrap sticky nav bar/responsiveness/cross-browser compatibility, and a pure CSS parallaxed hero image. Note: Business name and other specific info has been altered for privacy considerations.</p>
	</section>