<section class="blackBarMobile isHidden">
	<span class="portfolioHeaderMobile"><a style="font-weight: 300;" href="https://kylevassella.github.io/portfolio.html">PROJECTS:</a></span>
	<span class="underlineWhite"></span>
</section>

	
<section class="blackBar">
	<span class="portfolioHeader"><a style="font-weight: 300;" href="https://kylevassella.github.io/portfolio.html">PROJECTS:</a></span>
	<span class="underlineWhite"></span>
</section>


<section class="primaryContent">
	<div class="tileWrap"><a href="https://kylevassella.github.io/jcRealty.html" class="tileJCRealty" alt="J&C Realty tile" target="_blank"></a></div>
	<div class="tileWrap"><a href="https://kylevassella.github.io/randomQuoteGenerator.html" class="tileProject1" alt="Project 1 tile" target="_blank"></a></div>
	<div class="tileWrap"><a href="https://kylevassella.github.io/dynamicPaginatedSearch.html" class="tileProject2" alt="Project 2 tile" target="_blank"></a></div>
	<div class="tileWrap"><a href="https://kylevassella.github.io/interactiveShoppingForm.html" class="tileProject3" alt="Project 3 tile" target="_blank"></a></div>
</section>