	<div class="parallax-stationary">

		<section id="portfolio" class="portfolio-content">
					<span class="fw-300 six-em">PORTFOLIO</span>
			<span class="underline-white"></span>
			<div class="tile-wrap"><a href="#!/jcRealty" class="tile-jcrealty" alt="JC Realty tile"></a></div>
			<div class="tile-wrap"><a href="#!/randomQuoteGenerator" class="tile-project-1" alt="Random Quote Generator tile"></a></div>
			<div class="tile-wrap"><a href="#!/dynamicPaginatedSearch" class="tile-project-2" alt="Dynamic Paginated Search tile"></a></div>
			<div class="tile-wrap"><a href="#!/interactiveShoppingForm" class="tile-project-3" alt="Interactive Shopping Form tile"></a></div>
		</section>

		<section class="macbook-hero">
			<section id="contact" class="contact-content">
				<div class="padding-top-bottom contact-container">
					<!-- <img class="contactIcon" src="assets/media/contactEmail.png" alt="email icon"> --><h1 class="contact-info inline white">KyleVassella@gmail.com</h1>
					<!-- <img class="contactIcon" src="assets/media/contactPhone.png" alt="phone icon"> --><h1 class="contact-info inline white">281-216-2492</h1>
				</div>
			</section>
			<img class="headshot" src="assets/media/KyleVassella5.png">
		</section>

	</div>