

			
			<section class="primary-content-white">
				<h1 class="fw-300 portfolio-page-title">Interactive Shopping Form</h1>
				<h2 class="project-h2">Treehouse TechDegree Project</h2>

				<form action="https://kylevassella.github.io/Interactive-Shopping-Form/" target="_blank">
				<button type="submit" class="demo-button">VIEW PROJECT<br>DEMO</button><br>
				</form>

				
				<h3>Tools used:</h3>
					<p class="no-margin-bottom">
						<span class="icon-span">
							<img class="program-icon" src="./assets/media/iconHTML5.png">
							<img class="program-icon" src="./assets/media/iconCSS3.png">
							<img class="program-icon" src="./assets/media/iconJS.png">
						</span>
					</p>
					<p class="no-margin-top">HTML5, CSS3, JavaScript (vanilla)</p>
				
				<h3 class="inline">GitHub repository:</h3> <a class="github-link" href="https://github.com/KyleVassella/Interactive-Shopping-Form/tree/gh-pages" target="_blank">https://github.com/KyleVassella/Interactive-Shopping-Form/tree/gh-pages</a>

				<h3 class="no-margin-bottom">Project description:</h3>
					<p class="text-left">In this project, you’ll create an interactive registration form for “FullStack Conf”. Using the supplied HTML and CSS files, you’ll use JavaScript to enhance the form by adding interactivity. Added form field validation, credit card & email validation with Regex patterns, onclick adding/summation of activity pricing, removal of conflicting activity, success message upon completion.</p>
				
				<h3 class="no-margin-bottom">Project requirements:</h3>
					<p class="text-left"><i></i>Set focus on the first text field. When the page loads, give focus to the first text field.
					<span><i></i>Reveal a text field when the "Other" option is selected from the "Job Role" drop down menu. Make sure you add an text input field. Use the id of "other-title" for the field. Add placeholder text of "Your Title" for the field.</span>
					<span><i></i>For the T-Shirt color menu, only display the options that match the design selected in the "Design" menu.</span>
					<span><i></i>If the user selects a workshop, don't allow selection of a workshop at the same date and time -- you should disable the checkbox and visually indicate that the workshop in the competing time slot isn't available.</span>
					<span><i></i>When a user unchecks an activity, make sure that competing activities (if there are any) are no longer disabled.</span>
					<span><i></i>As a user selects activities to register for, a running total is listed below the list of checkboxes. For example, if the user selects "Main conference" then Total: $200 should appear. If they add 1 workshop the total should change to Total: $300.</span>
					<span><i></i>The "Credit Card" payment option should be selected by default and result in the display of the #credit-card div, and hide the "Paypal" and "Bitcoin" information.</span>
					<span><i></i>When a user selects the "PayPal" payment option, display the Paypal information, and hide the credit card information and the "Bitcoin" information.</span>
					<span><i></i>When a user selects the "Bitcoin" payment option, display the Bitcoin information, and hide the credit card information.</span>
					<span><i></i>Display error messages and don't let the user submit the form if any of these validation errors exist:
						<ul class="no-margin-top text-left">
							<li>Name field can't be empty.</li>
							<li>Email field must be a validly formatted e-mail address (you don't have to check that it's a real e-mail address, just that it's formatted like one: dave@teamtreehouse.com for example. You'll need to use a regular expression to get this requirement. See the list of Resources for links to learn about regular expressions.</li>
							<li>At least one activity must be checked from the list under "Register for Actitivities."</li>
							<li>Payment option must be selected.</li>
							<li>If "Credit card" is the selected payment option, make sure the user supplied a credit card number, a zip code, and a 3 number CVV value.</li>
						</ul>
					</span>
					</p>
					
				<h3 class="no-margin-bottom">Extra Credit</h3>
					<p class="text-left"><i></i>Hide the "Color" label and select menu until a T-Shirt design is selected from the "Design" menu.
					<span><i></i>Style the "select" menus (drop down menus) on the form, so they match the styling of the text fields (see Resources links for an article on how to improve the look of select menus using CSS and JavaScript).</span>
					<span><i></i>Validate the credit card number so that it's a validly formatted credit card number.</span></p>
			</section>