<!-- ******* FIREFOX *******
Parallax doesn't work: http://stackoverflow.com/questions/37869410/css-parallax-working-in-chrome-not-working-in-safari-or-firefox -->

<!-- <style>
     .parallax-hero { background-image: none; }
     .hero-container-section {display: none;}
 </style>	 -->		
<section class="primary-content-white">
	<h1 class="fw-300 portfolio-page-title">J&C Realty</h1>
	<h2 class="project-h2">Freelance Web Design Project</h2>
	<!-- <h2 class="projectH2"></h2> -->
	<form action="https://kylevassella.github.io/JC-Realty/" target="_blank">
		<button type="submit" class="demo-button">VIEW PROJECT<br>DEMO</button><br>
	</form>

	<h3>Tools Used:</h3>
		<p class="no-margin-bottom">
			<span class="icon-span">
				<img class="program-icon" src="./assets/media/iconHTML5.png">
				<img class="program-icon" src="./assets/media/iconCSS3.png">
				<img class="program-icon" src="./assets/media/iconJS.png">
			</span>
		</p>
		<p class="no-margin-top">HTML5, CSS3, JavaScript (vanilla)</p>

	<h3 class="inline">Github repository:</h3> <a class="github-link" href="https://github.com/KyleVassella/JC-Realty" target="_blank">https://github.com/KyleVassella/JC-Realty</a>

	<h3 class="no-margin-bottom">Project Description:</h3>
		<p class="margin-bottom-80 text-left">An ongoing project created for a team of local real estate agents. They wanted more web presence and thus required a dedicated website. Much work is still to be done, including a color scheme change and a layout overhaul. Note the 'Listings' page - complete with IDX property search i-frame. Eventually we will do without the i-frame (these aren't typically found by search engine crawlers) and pay for a premium embeddable IDX plugin. I'm currently working on improvements to the contact forms and the overall look of the site (much needed). Next on the list will be a way to dynamically display customer reviews on the home page - one of the team's most desired features.</p>

</section>
