<!-- jcRealty.html -->

	<!-- <style>
	     .parallax-hero { background-image: none; }
	     .hero-container-section {display: none;}
	 </style>	 -->		
	<section class="primary-content-white">
		<h1 class="fw-300 portfolio-page-title">J&C Realty</h1>
		<h2 class="project-h2">Freelance Web Design Project</h2>
		<!-- <h2 class="projectH2"></h2> -->
		<form action="https://kylevassella.github.io/JC-Realty/" target="_blank">
			<button type="submit" class="demo-button">VIEW PROJECT<br>DEMO</button><br>
		</form>


		<h3>Tools Used:</h3>
			<p class="no-margin-bottom">
				<span class="icon-span">
				<img class="language-icon" src="./assets/media/logos/html5.png" alt="HTML 5 logo" title="HTML 5 logo">
				<img class="language-icon" src="./assets/media/logos/css3.png" alt="CSS 3 logo" title="CSS 3 logo">
				<img class="language-icon" src="./assets/media/logos/jQuery.gif" alt="jQuery logo" title="jQuery logo">
				<img class="language-icon" src="./assets/media/logos/bootstrap.png" alt="Bootstrap logo" title="Bootstrap logo">
				</span>
			</p>
		<h3 class="github-section">Github repository: <a class="github-link" href="https://github.com/KyleVassella/JC-Realty/tree/gh-pages" target="_blank">https://github.com/KyleVassella/JC-Realty/tree/gh-pages</a></h3>
		<h3 class="project-header">Project Description:</h3>
			<p class="project-description margin-bottom-80 text-left"><!-- <span class="fw-700 inline">Description:</span>  -->A website I created for a team of local Houston real estate agents. They wanted more web presence and thus required a dedicated website. The site features a Bootstrap inspired, jQuery-powered CMA (home valuation) form, Bootstrap grid style thumbnails for ease of responsive display, and a 'listings' page complete with iframe IDX property search. Eventually we will do without the iframe (these aren't readily found by search engine crawlers) and pay for a premium embeddable IDX plugin. Customer reviews are dynamically displayed on the home page via jQuery plugin (Slick Carousel). Additional Bootstrap-powered features - such as a contact form and mobile dropdown menu - are next on the to-do list.</p>
	</section>
