	<section class="primary-content-white">
		<h1 class="fw-300 portfolio-page-title">This Portfolio</h1>
		<h2 class="project-h2">Freelance Web Design Project</h2>
		<!-- <h2 class="projectH2"></h2> -->
		<form action="https://kylevassella.github.io" target="_blank">
			<button type="submit" class="demo-button">VIEW PROJECT<br>DEMO</button><br>
		</form>


		<h3>Tools Used:</h3>
			<p class="no-margin-bottom">
				<span class="icon-span">
				<img class="language-icon" src="./assets/media/logos/html5.png" alt="HTML 5 logo" title="HTML 5 logo">
				<img class="language-icon" src="./assets/media/logos/css3.png" alt="CSS 3 logo" title="CSS 3 logo">
				<img class="language-icon" src="./assets/media/logos/jQuery.gif" alt="jQuery logo" title="jQuery logo">
				<img class="language-icon" src="./assets/media/logos/Angular1.png" alt="Angular logo" title="Angular logo">
				</span>
			</p>
		<h3 class="github-section">Github repository: <a class="github-link" href="https://github.com/KyleVassella/kylevassella.github.io" target="_blank">https://github.com/KyleVassella/kylevassella.github.io</a></h3>
		<h3 class="project-header">Project Description:</h3>
			<p class="project-description margin-bottom-80 text-left">This portfolio site (http://kylevassella.github.io) features a jQuery offset parallax hero image, jQuery smoothscroll nav buttons, and is a single page application powered by Angular 1. It's a work in progress and has gone through many changes in the past (feel free to browse through my old GitHub commits and see how bad it used to be). This site is 'hosted' for free as a gh-pages site via GitHub. As such, certain back-end tasks - like using PHP to send emails via a form submit button - are not readily possible.</p>
	</section>