<!-- randomQuoteGenerator.html -->

	<section class="primary-content-white">
		<h1 class="fw300 portfolio-page-title">Random Quote Generator</h1>
		<h2 class="project-h2">Treehouse TechDegree Project</h2>
		<form action="https://kylevassella.github.io/P1_RandomQuoteGenerator/" target="_blank">
		<button type="submit" class="demo-button">VIEW PROJECT<br>DEMO</button><br>
		</form>

		
		<h3>Tools Used:</h3>
			<p class="no-margin-bottom">
				<span class="icon-span">
					<img class="language-icon" src="./assets/media/logos/html5.png" alt="HTML 5 logo" title="HTML 5 logo">
					<img class="language-icon" src="./assets/media/logos/css3.png" alt="CSS 3 logo" title="CSS 3 logo">
					<img class="language-icon" src="./assets/media/logos/js-logo.png" alt="JavaScript logo" title="JavaScript logo">
				</span>
			</p>

		<h3 class="github-section">Github: <a class="github-link" href="https://github.com/KyleVassella/P1_RandomQuoteGenerator/tree/gh-pages" target="_blank">https://github.com/KyleVassella/P1_RandomQuoteGenerator/tree/gh-pages</a></h3>

		<h3 class="project-header">Project Description:</h3>
			<p class="text-left italic">'In this project you’ll create a random quote generator to display quotations on the screen after a button on the page is clicked: for example, display a quote from a famous athlete, politician, or historical figure.'</p>

		<h3 class="project-header">Project Requirements:</h3>
			<p class="no-margin-bottom italic bold text-left">Create an array of JS objects to hold the data for the quotes. Each quote should have the following properties:</p>			
			<p class="no-margin-top text-left"><i></i>A quote property which contains a string: the text of the quote to display on the page.
			<span><i></i>A source property which contains a string identifying the creator of the quote.</span>
			<span><i></i>An optional citation property which contains a string identifying the publication the quote appears in.</span>
			<span><i></i>An optional year property which contains a number identifying the date of the quote.</span></p>
			<p class="italic no-margin-bottom bold text-left">Create a function named getRandomQuote which:</p>
				 <p class="no-margin-top text-left"><i></i>Selects a random quote object from the quotes array.
				 <span><i></i>Returns the randomly selected quote objects.</span></p>
			<p class="italic no-margin-bottom bold text-left">Create a function named printQuote which follows these rules:</p>
			<p class="no-margin-top text-left"><i></i>printQuote calls the getRandomQuote function and stores the returned quote object in a variable.
			<span><i></i>printQuote constructs a string using the different properties of the quote object using the following HTML template:
				<span>
					<textarea class="textbox-html">
						 			<p class="quote"> [quote here] </p>
						 			<p class="source"> [source here]
							<span class="citation"> [citation here] </span>
							<span class="year"> [year here] </span>
						 			</p>
					</textarea>
				</span>
			</span>
			<span><i></i>printQuote doesn't add a <b>&ltspan class="citation"&gt</b> for a missing citation or a <b>&ltspan class="year"&gt</b> if the year property is missing.</span>
			<span><i></i>printQuote displays the final HTML string to the page. You can use the following JS snippet to accomplish that: <b>document.getElementById('quote-box').innerHTML</b></span></p>
			
		<h3 class="project-header">Extra Credit</h3>
			<p class="text-left"><i></i>Add more properties to the quote object. For example, a tags property could include a list of "tags" like -- "humor", "business", "politics" -- to categorize each quote.
			<span><i></i>Randomly change the background color of the page, when the quote changes.</span>
			<span><i></i>Don't display a random quote more than once until ALL quotes from the array have been displayed.</span>
			<span><i></i>Refresh the quote after a set amount of time. For example, every 30 seconds, make a new quote appear. (You can use the setInterval() or setTimeout() method to do this -- see the links in the Project Resources listing).</span></p>
	</section>