<!-- dynamicPaginatedSearch.html -->
			
	<section class="primary-content-white">
		<h1 class="fw-300 portfolio-page-title">Tic Tac Toe</h1>
		<h2 class="project-h2">Treehouse TechDegree Project</h2>
		<form action="https://kylevassella.github.io/Tic-Tac-Toe/" target="_blank">
		<button type="submit" class="demo-button">VIEW PROJECT<br>DEMO</button><br>
		</form>

		
		<h3>Tools Used:</h3>
			<p class="no-margin-bottom">
				<span class="icon-span">
					<img class="language-icon" src="./assets/media/logos/html5.png" alt="HTML 5 logo" title="HTML 5 logo">
					<img class="language-icon" src="./assets/media/logos/css3.png" alt="CSS 3 logo" title="CSS 3 logo">
					<img class="language-icon" src="./assets/media/logos/jQuery.gif" alt="jQuery logo" title="jQuery logo">
				</span>
			</p>
		
		<h3 class="github-section">Github: <a class="github-link" href="https://github.com/KyleVassella/Tic-Tac-Toe/tree/gh-pages" target="_blank">https://github.com/KyleVassella/Tic-Tac-Toe/tree/gh-pages</a></h3>

		<h3 class="project-header">Project Description:</h3>
			<p class="project-description text-left italic">'In this project, you'll build a functional, two-person tic-tac-toe game. You'll use the provided mockups, HTML, CSS and image files to create a game that requires players to add their names, take turns adding an X or O to the game board, and announce when the game ends. You'll need to keep track of the state of the game -- who's turn it is, where the X's and O's are on the board, and whether the game is a draw or, if not, who won and lost.
			You'll use your knowledge of JavaScript data structures like arrays and objects as well as DOM-manipulation using jQuery or plain JavaScript to complete this project.
			And, in order to make sure you're practicing good programming practices, use the module pattern to create your Tic-Tac-Toe game. In other words, you should wrap all of your code in a single global variable, or execute it all in a single self-invoking function. See the link in the project resources for a Treehouse workshop on the module pattern.</p>
		
		<h3 class="project-header">Project Requirements:</h3>
			<br>
			<p class="project-description no-margin-bottom italic bold">You can use jQuery or plain JavaScript to complete this project. Don't use an already programmed Tic-Tac-Toe plugin or library.		
			<span><i></i>When the page loads, the startup screen should appear.</span>
			<span><i></i>Add programming, so that when the player clicks the start button the start screen disappears, the board appears, and the game begins.</span></p>
			<br>
			<p class="project-description no-margin-bottom italic bold">Add the game play following these rules:
			<span><i></i>Play alternates between X and O.</span>
			<span><i></i>The current player is indicated at the top of the page -- the box with the symbol O or X is highlighted for the current player. You can do this by simply adding the class .active to the proper list item in the HTML. For example, if it's player one's turn, the HTML should look like this: &lt;li class="players active" id="player1"&gt</span>
			<span><i></i>When the current player mouses over an empty square on the board, it's symbol the X or O should appear on the square. You can do this using the x.svg or o.svg graphics (hint use JavaScript to set the background-image property for that box).</span>
			<span><i></i>Players can only click on empty squares. When the player clicks on an empty square, attach the class box-filled-1 (for O) or box-filled-2 (for X) to the square. The CSS we're providing will automatically add the proper image to the square marking it as occupied.</span>
			<span><i></i>The game ends when one player has three of their symbols in a row either horizontally, vertically or diagonally. If all of the squares are filled and no players have three in a row the game is a tie.</span></p>

			<p class="project-description no-margin-bottom italic bold">Add programming so that when the game ends, the board disappears and the game end screen appears. Depending on the game results the final screen should:
			<span><i></i>Show the word "Winner" or "It's a Tie!"</span>
			<span><i></i>Add the appropriate class to the &lt;div&gt; for the winning screen: &lt;div class="screen screen-win" id="finish"&gt; screen-win-one for player 1, screen-win-two for player two, or screen-win-tie if the game ends with no winner. For example, if player 1 wins, the HTML should look like this: &lt;div class="screen screen-win screen-win-one" id="finish"&gt;</span></p>
			<br>
			<p class="project-description no-margin-bottom italic bold"><i></i>Add programming so that when a player pushes the "New Game" button, the board appears again, empty and a new game begins.</p>
			<br>

			<p class="project-description no-margin-bottom italic bold"><i></i>Use the module pattern to wrap all of your JavaScript code into a single global variable or an immediately invoked function. </p>
			<br>

			<p class="project-description no-margin-bottom italic bold"><i></i>Check your project for cross browser compatibility, making sure that it looks and functions correctly in multiple browsers:
			<li class="text-left">Google Chrome</li>
			<li class="text-left">Mozilla Firefox</li>
			<li class="text-left">Internet Explorer/Edge</li>
			<li class="text-left">Safari</li>
			</p>

			
		<h3 class="project-header">Extra Credit</h3>
			<br>
			<p class="project-description no-margin-bottom italic bold">Let a player add their name before the game starts
			<br>
			<span><i></i> Name appears while the game is playing</span>
			<span><i></i> The name is displayed for the winning player</span></p>
			<p  class="project-description no-margin-bottom italic bold">Add programming to support playing against the computer. Only one player plays, the other is controlled by your programming.</p>
			<br>
			<br>


	</section>

